<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suwen.lottery.dao.LotteryLogMapper" >
  <resultMap id="BaseResultMap" type="com.suwen.lottery.domain.LotteryLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, phone, content, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_lottery_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_lottery_log
    where 1=1
    and (`phone` like #{phone,jdbcType=VARCHAR} or #{phone} IS NULL)
    and (activity_id = #{activityId,jdbcType=INTEGER} or #{activityId} is null)
    and (day(create_time) = day(now()))
    order by create_time desc
  </select>
  <select id="selectByPhoneAndActivityId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_lottery_log
    where `phone` = #{phone,jdbcType=VARCHAR}
    and activity_id = #{activityId,jdbcType=INTEGER}
    and day(create_time) = day(now())
    order by create_time desc
  </select>
  <select id="selectCountByPhoneAndActivityId" resultType="java.lang.Integer">
    select
    count(1)
    from t_lottery_log
    where `phone` = #{phone,jdbcType=VARCHAR}
    and activity_id = #{activityId,jdbcType=INTEGER}
    and day(create_time) = day(now())
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_lottery_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.suwen.lottery.domain.LotteryLog" >
    insert into t_lottery_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suwen.lottery.domain.LotteryLog" >
    update t_lottery_log
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>